<h2>Here is our collection</h2>

{{!-- {{#each }}


<ol>
    <li>{{this.title}}</li>
    <li>{{this.genre}}</li>
    <li>{{this.rating}}</li>
    <li>{{this.author}}</li>
    <li>{{this.price}}</li>
</ol>



{{/each}} --}}