<h2>Here is our collection</h2>

<div><a href="/views/create-book.hbs">Click here to add new books</a></div>

{{#each booksArr}}


<ol>
    <li>{{this.title}}</li>
    <img src={{this.coverImg}}/>
    <li>{{this.genre}}</li>
    <li>{{this.rating}}</li>
    <li>{{this.author}}</li>
    <li>{{this.price}}</li>
</ol>
{{/each}}