<h2>RECORDS FOR SALE</h2>


{{#each allRecords}}



  <ul>
      <li></li>
      {{!-- what's this for????? --}}
    {{!-- <a href="/records/{{this}}">{{this}}</a> --}}
  </ul>






{{/each}}

<h2>Here is our collection</h2>

{{#each booksArr}}


<ol>
    <li>{{this.title}}</li>
    <img src={{this.coverImg}}/>
    <li>{{this.genre}}</li>
    <li>{{this.rating}}</li>
    <li>{{this.author}}</li>
    <li>{{this.price}}</li>
</ol>
{{/each}}